.italy-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #009246, #fff, #ce2b37) 1;
    border-radius: 10px;
}

.france-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #002395, #fff, #ed2939) 1;
    border-radius: 10px;
}

.heaven-sky-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #87CEEB, #1E90FF) 1;
    border-radius: 10px;
}

.green-box {
    border: 2px solid #228B22;
    border-radius: 10px;
}

.grey-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #808080, #fff) 1;
    border-radius: 10px;
}

.light-grey-box {
    border: 2px solid #98b3b9;
    border-radius: 10px;
}

.darkgray-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #808080, #1d1d1d) 1;
    border-radius: 10px;
}

.purple-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #5811ff, #8e1299) 1;
    border-radius: 10px;
}

.golden-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #DAA520, #705f00) 1;
    border-radius: 10px;
}

.brown-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #8B4513, #5d3300) 1;
    border-radius: 10px;
}

.greeneo-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #6fffff, #9bfffa) 1;
    border-radius: 10px;
}

.ahref-box {
    border: 2px solid;
    border-image: linear-gradient(to bottom, #054ADA, #F80) 1;
    border-radius: 10px;
}

.box {
    background: #fff;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
    max-height: 370px;
    min-height: 370px;
    overflow: hidden;
    position: relative;
}